
<h1>
  <%= link_to '&larr;'.html_safe, sketches_path() %>
  <%= @sketch.title %>
</h1>

<div class='canvas-container'>
  <canvas id='canvas'
          data-title='<%= @sketch.title %>'
          width='640' 
          height='480'></canvas>
</div>