#canvas {
  border: 1px solid black;
  float: left;
}

.color-picker {

  width: 100%;
  table-layout: fixed;

  td {
    border: 1px solid black;
    height: 2em;
  }

  .red    { background: red; }
  .orange { background: orange; }
  .yellow { background: yellow; }
  .green  { background: green; }
  .blue   { background: blue; }
  .black  { background: black; }
  .white  { background: white; }

  .save {
    border: none;
    text-align: right;
  }
}

// Prevent annoying text-boxes around edited text.
[contenteditable='true']:active,
[contenteditable='true']:focus {
  border: none;
  outline: none;
}